html {
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/*
@font-face {
    font-family: HighlandGothic;
    src: url (font/HighlandGothicFLF-Bold.ttf);
}

@font-face {
    font-family: HighlandGothicRegular;
    src: url (font/HighlandGothicFLF.ttf);
}

@font-face {
    font-family: HighlandGothicLight;
    src: url ("font/HighlandGothicLightFLF.ttf");
}

@font-face {
    font-family: SansationRegular;
    src: url ("font/SansationRegular.ttf");
}

@font-face {
    font-family: SansationItalic;
    src: url (font/SansationItalic.ttf);
}

@font-face {
    font-family: SansationBold;
    src: url (font/Sansation_Bold.ttf);
}
*/

body {
    background-color: #191970;
}

#logo {
    width: 100%;
    height: auto;
    padding-left: 3em;
    margin-top: 1.5em;
    background-color: #ffffff;
}

#pizzaplanet {
    width: 40%;
    height: 40%;
}

p {
    font-family: 'Droid Sans', sans-serif;
    color: #ffffff;
    padding: 0.5em 2em 0.3em 2em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.8em;
    margin: auto;
}

.btn {
    font-family: 'Droid Sans', sans-serif;
    width: 25%;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0em 0.3em 1em #666666;
    -moz-box-shadow: 0px 1px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-size: 1em;
    background: #dc143c;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.btn:hover {
    background: #dc143c;
    background-image: -webkit-linear-gradient(top, #dc143c, #ff8c00);
    background-image: -moz-linear-gradient(top, #dc143c, #ff8c00);
    background-image: -ms-linear-gradient(top, #dc143c, #ff8c00);
    background-image: -o-linear-gradient(top, #dc143c, #ff8c00);
    background-image: linear-gradient(to bottom, #dc143c, #ff8c00);
}
